<mat-toolbar color="primary">
  <button mat-icon-button *ngIf="editMode" (click)="exitEditMode()"><mat-icon>arrow_back</mat-icon></button>
  <span class="filler">Quick Access</span>
  <button mat-icon-button *ngIf="editMode" (click)="edit()"><mat-icon>edit</mat-icon></button>
  <button mat-icon-button *ngIf="editMode" (click)="remove()"><mat-icon>delete</mat-icon></button>
</mat-toolbar>

<mat-nav-list class="fab-gap">
  <a mat-list-item
     [routerLink]="!editMode ? ['/viewer', entry.id] : null"
     *ngFor="let entry of entries"
     long-touch (longClick)="enterEditMode(entry)">{{entry.name}}</a>
</mat-nav-list>

<button mat-fab class="fab" color="primary" (click)="file.click()"><mat-icon>add</mat-icon></button>
<input type="file" hidden (change)="this.onFileSelected($event)" #file >
