<mat-toolbar color="primary">
  <button mat-icon-button *ngIf="editMode" (click)="exitEditMode()"><mat-icon>arrow_back</mat-icon></button>
  <span class="filler">Quick Access</span>
  <button mat-icon-button *ngIf="editMode" (click)="edit()"><mat-icon>edit</mat-icon></button>
  <button mat-icon-button *ngIf="editMode" (click)="remove()"><mat-icon>delete</mat-icon></button>
</mat-toolbar>

<mat-nav-list class="fab-gap">
  <a mat-list-item
     [routerLink]="!editMode ? ['/viewer', entry.id] : null"
     *ngFor="let entry of entries"
     (pressup)="enterEditMode($event, entry)">{{entry.name}}</a>
</mat-nav-list>

<div class="fab-panel">
  <button mat-button class="label-button" [class.hidden]="!showButtons" (click)="scan()" i18n>QR Code</button>
  <button mat-mini-fab color="primary" [class.hidden]="!showButtons" (click)="scan()"><mat-icon>qr_code_scanner</mat-icon></button>
  <button mat-button class="label-button" [class.hidden]="!showButtons" (click)="file.click()" i18n>File</button>
  <button mat-mini-fab color="primary" [class.hidden]="!showButtons" (click)="file.click()"><mat-icon>image</mat-icon></button>
  <div></div>
  <button mat-fab color="primary" (click)="showButtons = !showButtons">
    <mat-icon *ngIf="!showButtons">add</mat-icon>
    <mat-icon *ngIf="showButtons">clear</mat-icon>
  </button>
</div>
<input type="file" hidden (change)="this.onFileSelected($event)" #file >
