.filler {
  flex: 1 1 auto;
  padding-left: 8px;
}

.mat-list-item-content {
  padding: 0!important;
}

.mat-list-base {
  padding-top: 0!important;
}

.fab {
  position: fixed!important;
  bottom: 1rem;
  right: 1rem;
}

.fab-gap {
  margin-bottom: 5rem;
}
