<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="['/browser']"><mat-icon>list</mat-icon></a>
  <span>Quick Access</span>
</mat-toolbar>

<div class="slide-container" (panmove)="onPan($event)" (panend)="onPanEnd($event)">
  <div class="slide"
       *ngFor="let entry of entries, index as i"
       [style.left]="slidePanOffset(i) + '%'"
       [@slided]="{value: this.slided, params: {offset: slideOffset(i)}}"
       (@slided.done)="this.onSlidedDone()">
    <h1 class="title">{{entry.name}}</h1>
    <div class="image-container">
      <img class="image" [src]="entry.path" [alt]="entry.name" *ngIf="prod"/>
      <img class="image" [src]="debugImageSrc(i)" alt="Dev no image" *ngIf="!prod"/>
    </div>
  </div>
</div>

<div class="dots" *ngIf="entries.length > 1">
  <div class="dot" [class.dot-big]="i == pointer" *ngFor="let entry of entries, index as i"></div>
</div>
