<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="['/browser']"><mat-icon>list</mat-icon></a>
  <span>Quick Access</span>
</mat-toolbar>

<mat-slide-container [pointer]="pointer">
  <div class="slide" mat-slide *ngFor="let entry of entries, index as i">

    <h1 class="title">{{entry.name}}</h1>

    <ngx-qrcode class="qrcode-container" *ngIf="entry.data" [value]="entry.data" [width]="400"></ngx-qrcode>

    <div class="image-container" *ngIf="entry.path">
      <img class="image" [src]="entry.path" [alt]="entry.name" *ngIf="prod"/>
      <img class="image" [src]="debugImageSrc(i)" alt="Dev no image" *ngIf="!prod"/>
    </div>

  </div>
</mat-slide-container>
