.no-image {
  opacity: 0.3;
  font-size: 100rem;
  width: 100rem;
  height: 100rem;
}

.image-container {
  display: grid;
  height: calc(100% - 56px);
  width: 100%;
  overflow: auto;

  img {
    justify-self: center;
    align-self: center;
  }

}
