<mat-slide-container [color]="'primary'" *transloco="let t">
  <div mat-slide class="slide">
    <h2>{{t('intro-1')}}</h2>
    <img src="/quick-access/assets/screen-1.png" alt="Intro #1">
    <button mat-flat-button (click)="gotIt()" color="primary">{{t('got-it')}}</button>
  </div>
  <div mat-slide class="slide">
    <h2>{{t('intro-2')}}</h2>
    <img src="/quick-access/assets/screen-2.png" alt="Intro #2">
    <button mat-flat-button (click)="gotIt()" color="primary">{{t('got-it')}}</button>
  </div>
  <div mat-slide class="slide">
    <h2>{{t('intro-3')}}</h2>
    <img src="/quick-access/assets/screen-3.png" alt="Intro #3">
    <button mat-flat-button (click)="gotIt()" color="primary">{{t('got-it')}}</button>
  </div>
</mat-slide-container>
