<mat-slide-container [color]="'primary'">
  <div mat-slide class="slide">
    <h2 i18n>Add files, photo or scan QR code</h2>
    <img src="/quick-access/assets/screen-1.png" alt="Intro #1">
    <button mat-flat-button (click)="gotIt()" color="primary" i18n>Got it!</button>
  </div>
  <div mat-slide class="slide">
    <h2 i18n>Long tap for edit name or remove file</h2>
    <img src="/quick-access/assets/screen-2.png" alt="Intro #2">
    <button mat-flat-button (click)="gotIt()" color="primary" i18n>Got it!</button>
  </div>
  <div mat-slide class="slide">
    <h2 i18n>Swipe left or right for navigation</h2>
    <img src="/quick-access/assets/screen-3.png" alt="Intro #3">
    <button mat-flat-button (click)="gotIt()" color="primary" i18n>Got it!</button>
  </div>
</mat-slide-container>
