@use '~@angular/material' as mat;

$primary: mat.define-palette(mat.$indigo-palette);

:host {
  display: grid;
  grid-template-rows: 1fr;
  height: 100vh;
  background-color: mat.get-color-from-palette($primary, 500);
}

.slide {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  justify-items: center;
  align-items: center;
  padding: 2rem 3rem 0;

  h2 {
    text-align: center;
    color: #f0f0f0
  }

  img {
    max-height: 80%;
    max-width: 80%;
    object-fit: contain;
    box-shadow: 0 0 0.5rem 0 #f0f0f0;
  }
}
