<div class="slide-container"
     [style.left]="slidePanOffset() + '%'"
     [style.width]="(slides.length * 100) + '%'"
     [style.grid-template-columns]="'repeat(' + slides.length + ', 1fr)'"
     [class.primary]="color == 'primary'"
     (panmove)="onPanMove($event)"
     (panend)="onPanEnd($event)"
     [@slided]="{value: this.slided, params: {offset: slideOffset()}}"
     (@slided.done)="onSlidedDone()">
  <ng-content></ng-content>
</div>
<div class="dots" [class.primary]="color == 'primary'" *ngIf="slides.length > 1">
  <div class="dot"
       [class.primary]="color == undefined"
       [class.accent]="color == 'primary'"
       *ngFor="let slide of slides, index as i"
       [@pointed]="i == pointer"></div>
</div>
